.Chat-Footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(199, 196, 196);

	form {
		flex: 1;
		margin: 0.5rem 3rem 1rem 2rem;

		input {
			flex: 1;
			margin-top: 0.5rem;
			width: 99%;
			border-radius: 30px;
			height: 35px;
			outline-width: 0;
			font-size: 1.3rem;
			padding-left: 1.3rem;
			&::placeholder {
				color: green;
				font-size: 1rem;
			}
		}
	}
}
