.Chat-Message {
	display: flex;
	padding: 1rem 1rem 0 1rem;

	.Chat-Message-avatar {
		margin: 1rem;
	}

	.Chat-Message-info {
		.Chat-Message-sender {
			font-weight: bold;
		}

		.Chat-Message-body {
			display: flex;
			background-color: #fbf3c5;
			padding: 0.5rem;
			margin-top: 0.2rem;
			border-radius: 10px;
			align-items: flex-end;

			.Chat-Message-body-message {
				margin-right: 0.5rem;
				font-size: 1.1rem;
			}

			.Chat-Message-body-timestamp {
				color: gray;
				font-size: 0.9rem;
			}
		}
	}
}

//when its my message, move it to right
.my-message {
	flex-direction: row-reverse;

	.Chat-Message-info {
		.Chat-Message-body {
			background-color: rgb(148, 241, 148);
		}
	}
}
